
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        /* line-height: 1.4;
        font-weight: 400; */
        font-family: 'Roboto', sans-serif;
    }

    .main_bar {
        background-color: white;
        height: 70px;
        display: flex;
        border-radius: 5px;
        justify-content: space-between;
        align-items: flex-end;
        width: 1300px;
        position: sticky;
        top: 0px;
        margin: 0px auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    }
    .logo{
        padding: 10px;

    }
    .bar{
        font-size: 20px;
        padding: 10px;
    }
    /* page 01 styling */
    .main_container{
        max-width: 1200px;
        margin: 0px auto;
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 50px;
    }
    .main_pic{
        margin-top: 30px;
    }
    .content h1{
        font-size: 60px;
    }
    .btn_01{
        background-color: green;
        color: white;
        font-weight: 400;
        border: transparent 2px solid;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 30px;
        font-size: 15px;

    }
    .btn_02{
        font-size: 20px;
        background-color: orange;
        color: balck;
        font-weight: 400;
        border: transparent 2px solid;
        border-radius: 4px;
        padding: 10px;
        margin-top: 30px;
    }
    /* cards styling */
    .cards{
        margin-top: 80px;
        align-items: center;
    }    
    .card01{
        gap: 20px;
        display: flex;
        max-width: 500px;
        margin: 0px auto;
    }
    .card02{
        gap: 20px;
        display: flex;
        max-width: 500px;
        margin: 0px auto;
    }
    .card03{
        gap: 20px;
        display: flex;
        max-width: 500px;
        margin: 0px auto;
    }
    .main_container2{
        display: flex;
        max-width: 1200px;
        margin: 0px auto;
    }
    h2{
        margin-bottom: 6px;
    }
    .divider{
        max-width: 1200px;
        margin: 40px auto;
        height: 1.2px;
        border-bottom: 3px solid rgb(223, 202, 202);
    }
    /* page02 styling */
    .page02{
        max-width: 1200px;
        margin: 0px auto;
    }
    .menu{
        padding: 5px;
        font-size: 25px;
        margin-left: 500px;
        background-color: yellowgreen;
        color: black;
        border: transparent 3px solid;
        border-radius: 5px;

    }
    .page02 h3{
        margin-left: 450px;
        margin-top: 25px;
        font-size: 30px;
        align-items: center;
    }
    /* menu styling */
    .container4{
        display: grid;
        gap: 10px;
        grid-template-areas:
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7";
    }
    .item1 {
        grid-area: I1;
    }
    .item2 {
        grid-area: I2;
    }
    .item3 {
        grid-area: I3;
    }
    .item4 {
        grid-area: I4;
    }
    .item5 {
        grid-area: I5;
    }
    .item6 {
        grid-area: I6;
    }
    .item7 {
        grid-area: I7;
    }
    .grid{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 50px 0;
        align-items: center;
    }
    .grid-image {
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        width: 100%;
        height: 100%;
    }
    .grid-image:hover {
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
    }
    .card01:hover{
        transition: 0.2s ease-in-out;
        box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    }
    .card02:hover{
        transition: 0.2s ease-in-out;
        box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    }
    .card03:hover{
        transition: 0.2s ease-in-out;
        box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    }
    footer {
        background-color: #fff0db;
    }
    .link_lists h3 {
            margin-bottom: 10px;
            color: gray;
    }
    .link_lists ul {
            list-style: none;
    }
    .link_lists ul li {
            font-size: 16px;
            margin-bottom: 5px;
    }
    .news_letter h3 {
            margin-bottom: 10px;
            color: gray;
    }
    .news_letter input {
        padding: 5px 40px;
        margin-bottom: 10px;
    }
    .footer_container {
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
    .icon_container {
        display: flex;
        gap: 15px;
        font-size: 32px;
    }
